.buy_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scanner_box {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner_wrapper {
  width: 200px;
  margin-bottom: 20px;
  position: relative;
  height: 80px;
  width: 200px;
  video {
    height: 80px;
    width: 100%;
    object-fit: cover;
    border: 2px solid red;
    overflow: hidden;
  }
}

.laser {
  width: 100%;
  background-color: red;
  height: 2px;
  position: absolute;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 4px red;
  animation: scanning 2s infinite;
}

.diode {
  animation: beam 0.01s infinite;
}

.product_list {
  flex-basis: 55%;
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: white;
}

.product_item_wrapper {
  display: flex;
}

.product_name {
  margin-right: 5px;
}

.product_price {
  margin-right: 10px;
  &:before {
    content: '\20B4';
    margin-left: 5px;
  }
}

.no_product {
  text-align: center;
}

.summary {
  margin-top: auto;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
}

@keyframes beam {
  50% {
    opacity: 0;
  }
}

@keyframes scanning {
  50% {
    transform: translateY(80px);
  }
}
