.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
}

@media (max-width: 430px) {
  .sidebar_wrapper {
    width: auto;
    max-width: 100%;
    flex-direction: row;
    margin: 10px 5px 0 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    box-shadow: none;
    border: 1px solid darkcyan;
    border-bottom: none;
  }
}

.logo_wrapper {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #e9eefa;
    & svg {
      transform: scale(1.1);
    }
  }
  & svg {
    width: 40px;
    height: 40px;
  }
}

.middle_section {
  margin-top: auto;
  margin-bottom: auto;
  & svg {
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.1);
    }

    fill: #ccc;
    & path {
      fill: #ccc;
    }
  }

  & span {
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
  }
}

@media (max-width: 430px) {
  .middle_section {
    display: flex;
    margin: 0 10px 0 aut0;
  }
}

.active {
  background: #e9eefa;
  & svg {
    fill: red;
    & path {
      fill: red;
    }
  }
}
